taco-generate-grid(
  basename = grid,
  itemname = -item,
  type = "float",
  valign = top,
  columns = 2..10,
  gutter = 24,
  widths = true,
  inline-block-hack = "margin")

  // Grid wrapper class
  .{basename}
    margin-left: -(unit(gutter, px))

  // Create a row class if needed
  if type == "float"
    .{basename + itemname}-row
      &:after
        clear: both

      &:before, &:after
        box-sizing: border-box
        display: table
        content: " "

  // Grid item class
  .{basename + itemname}
    if type == "float"
      float: left
    else
      display: inline-block
      vertical-align: valign

      if inline-block-hack == "margin"
        margin-left: -4px

      &:first-child
        margin-left: 0

    width: 100%
    padding-left: unit(gutter, px)
    box-sizing: border-box

  // Grid item width classes
  if widths
    taco-generate-widths(columns, basename + itemname)

taco-generate-widths(columns, name, hidden = false)
  for $i in columns
    for $j in (1..$i - 1)
      .{name}-{$j}-{$i}
        width: ((100 / $i) * $j)%

  if hidden
    .{hidden + name}
      display: none

  .{name}-full
    width: 100%
    margin-left: 0

